// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.destroy_all_btn {
  margin: 0 0 0 auto;
}

.total_table {
  margin: 0 0 0 auto;
}

.btn_shopping {
  margin: 0 auto 0 0;
}

.btn_order {
  margin: 0 auto;
}

.item_name_td {
  display: flex;
}