// Place all the styles related to the public/items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page {
  display: flex;
  justify-content: center;
}