<div class="jumbotron about">
 <div class="container">
   <div class="col-xs-8">
	 <div class="welcome-message_about">
		<p id="welcome-text_about">
			ながのCakeは全国発送可能なケーキ屋さんです。<br>
			お子様からお年寄りの方までお召し上がりいただけるよう、<br>
			様々なバリエーションをご用意しております。<br>
			また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
			ぜひご注文ください。
		</p>
		</p>
     </div>
   </div>
 </div>
</div>
<div class="container">
	<div class="row mb-5">
		<div class="chef_image col-lg-4 col-sm-3"></div>
		<div class="chef_introduction offset-lg-2 col-lg-6">
			<p class="chef_name">シェフ: 長野 リカルド 剛</p>
			<p class="chef_detail">
				『スイーツを食べる幸せをもっと身近に。』をモットーに。<br>
				ながのcakeは創立120年の老舗パティスリーです。<br>
				明治初期に日本に渡ってきたフランス人パティシエ(リカルド トーレス)が開業し、<br>
				今日まで長野に愛されるパティスリーとして皆様にご愛顧いただいております。<br>
				現在は第４代パティシエである、長野 リカルド 剛を中心として、<br>
				『スイーツを食べる幸せをもっと身近に。』をモットーに新たな感動(ケーキ)を作り続けております。
			</p>
			</p>
		</div>
	</div>
	<div class="row mt-5 mb-5">
		<div class="fruits_image col-lg-4 col-sm-3"></div>
		<div class="fruits_introduction offset-lg-2 col-lg-6">
			<p class="fruits_head">選び抜かれた長野の果物たち</p>
			<p class="fruits_detail">
				ながのcakeは地元であり、フルーツ王国とも称される長野県の農家が<br>
				栽培した新鮮な果物のみを使っております。<br>
				長野県オリジナル品種であるりんご “シナノゴールド” をふんだんに使った<br>
				アップルパイは創業以来のながのcakeの定番商品となっております。<br>
				また令和元年よりブドウと桃の栽培を開始し、<br>
				新商品の開発に励んでおります。<br>
				是非、長野の果物をケーキと共にご賞味ください。
			</p>
			</p>
		</div>
	</div>
	<div class="row mt-5 mb-5">
			<div class="access_image col-lg-4 col-sm-3"></div>
				<div class="access_introduction offset-lg-2 col-lg-6">
					<p class="access_head">長野県松本市17丁目7番</p>
					<p class="access_detail">
					『スイーツを食べる幸せをもっと身近に。』をモットーに。<br>
					ながのcakeは創立120年の老舗パティスリーです。<br>
					明治初期に日本に渡ってきたフランス人パティシエ(リカルド トーレス)が開業し、<br>
					今日まで長野に愛されるパティスリーとして皆様にご愛顧いただいております。<br>
					現在は第４代パティシエである、長野 リカルド 剛を中心として、<br>
					『スイーツを食べる幸せをもっと身近に。』をモットーに新たな感動(ケーキ)を作り続けております。
					</p>
				</div>
		</div>
</div>