<div class="container">
   <div class="col-xs-8">
			<h1 id="title">ABOUT</h1>
			<div class="welcome-message", style="margin-top :20px;">
			  <p id="welcome-text">
			ながのCakeは全国発送可能なケーキ屋さんです。<br>
			お子様からお年寄りの方までお召し上がりいただけるよう、<br>
			様々なバリエーションをご用意しております。<br>
			また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
			ぜひご注文ください。</p>
			</div>
        <img class="image" src="https://cdn.pixabay.com/photo/2018/05/01/18/21/eclair-3366430_1280.jpg" style="max-width: 100%;">
      </div>
    </div>