/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

// ヘッダー
header {
  border-bottom: 2px solid #eee;
  width: 100%;
}

// フッター
footer {
  width: 100%;
  height: 150px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#title{
  text-align: center;
  font-size: 50px;
  margin-top: 30px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
}

// スライドショーここから
.a {
  width: 80%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.c {
  height: 500px;
  width: 100%;
}
// スライドショーここまで

// ウェルカムメッセージここから
.welcome-message {
  width: 100%;
  font-size: 20px;
  margin: 20px auto 40px;
}

.welcome-message p {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 10px;
  border-bottom: 2px solid #ccc;
}

#welcome-text {
  text-align: center;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
}
// ウェルカムメッセージここまで

// ロゴ
.logo-img {
  height: 100px;
  width: 100px;
  text-align: center;
}

// 新規商品ここから
.new-items {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.new-item {
  display: flex;
  width: 270px;
  height: 195px;
  position: relative;
}

.new {
  width: 50px;
  height: 50px;
  padding: 15px 0;
  font-size: 15px;
  text-align: center;
  position: absolute;
  top: -15px;
  left: -15px;
  background: red;
  color: white;
  border-radius: 50%;
}

.hover-parent {
  width: 250px;
  height: 175px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.hover-mask {
  width: 250px;
  height: 175px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 5);
  opacity: 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  transition: all .6s ease;
  padding-bottom: 0;

  p {
    text-align: center;
  }
}


  // 新規商品画像ホバー時に商品名、値段を表示
.hover-parent:hover .hover-mask {
  padding-bottom: 30px;
  opacity: .5;
}
// 新規商品ここまで