/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

header {
  border-bottom: 2px solid #eee;
}

footer {
  width: 100%;
  height: 150px;
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

    #title{
      text-align: center;
      font-size: 50px;
      margin-top: 30px;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
   }

   .welcome-message {
      width: 100%;
      font-size: 20px;
      margin: 0 auto;
    }

    .welcome-message p {
      width: 600px;
      margin: 20px auto;
      padding-bottom: 10px;
      border-bottom: 2px solid #ccc;
    }

    // .pickup-item {
    //   margin-left: 50px;
    //   height: auto;
    // }

    // .item-box {
    //   float: left;
    //   padding: 10px;
    //   margin: 15px;
    //   background-color: white;
    //   border: 1px solid silver;
    // }

    #welcome-text {
      text-align: center;
      text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4)
    }

    .img {
      height: 100px;
      width: 100px;
      text-align: center;
    }

    .a {
      width: 60%;
      margin: 20px auto 0;
      display: flex;
      justify-content: center;
    }
    .c {
      height: 400px;
      width: 100%;
    }

    .e {
      height: 200px;
      width: 300px;
    }


    .new-items {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
    }

    .hover-parent {
      width: 250px;
      height: 175px;
      position: relative;
      margin-bottom: 30px;
      overflow: hidden;
    }

    .hover-mask {
      width: 250px;
      height: 175px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 5);
      opacity: 0;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 30px;
      transition: all .6s ease;
      padding-bottom: 0;
    }


    .hover-parent:hover .hover-mask {
      padding-bottom: 30px;
      opacity: .5;
    }